{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="container profile">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ "Profile"|trans({}, 'messages') }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="" alt="profile_image" class="profile-image"/>
                <p>
                    {{ 'profile.show.username'|trans }}: {{ profile.username }}
                    {% if user != profile and profile not in user.getFriends %}
                        <span id="{{ profile.id }}" class="btn fa fa-plus-circle add-friends" title="{{ "Add to my friends"|trans({}, 'messages') }}"> {{ "Add to my friends"|trans({}, 'messages') }}</span>
                    {% endif %}
                </p>
                <p>{{ 'profile.show.email'|trans }}: {{ profile.email }} (<a href="{{ path('send_mail', {'user_id': profile.id}) }}"><span class="fa fa-mail-forward"></span> {{ "Send mail"|trans({}, 'messages') }}</a>)</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border-menu">
                    <h3>{{ "Friends"|trans({}, 'messages') }}</h3>
                    {% if profile.getFriends |length == 0 %}
                        <p>{{ "No friends."|trans({}, 'messages') }}</p>
                    {% else %}
                        <ul>
                            {% for friend in profile.getFriends %}
                                <li>
                                    <a href="{{ path('detail_profile', {'user_id': friend.id}) }}">{{ friend.username }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border-menu">
                    <h3>{{ "Achievements"|trans({}, 'messages') }}</h3>
                    <ul>
                        <li><a href="#">Achivement1</a></li>
                        <li><a href="#">Achivement2</a></li>
                        <li><a href="#">Achivement3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        $('.add-friends').click(function (e) {
            var url = '{{ path("add_friend", {'friend_id': 'FRIEND_ID'}) }}';
            url = url.replace("FRIEND_ID", {{ profile.id }});
//        console.log(url);
            var jhrx = $.ajax(url)
                .done(function (data) {
                    var obj = data;
                    if (obj.success) {
                        console.log("Success : " + obj.message);
                    }
                    else if (obj.error) {
                        console.log("Error : " + obj.message);
                    }
                })
        });
    </script>
{% endblock %}