{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{{ "Contact"|trans }}{% endblock %}

{% block content %}
    <div class="container game-library">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ "Contact"|trans() }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ "Developer"|trans }} : Marc Vanrenterghem</p>
                <p>{{ "Email address"|trans }} : {{ user.email }} (<span class="fa fa-mail-forward"></span> <a href="{{ path('send_mail', {'user_id': user.id}) }}">{{ "Send mail"|trans({}, 'messages') }}</a>)</p>
            </div>
        </div>
    </div>
{% endblock %}