{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{{ "Home"|trans }}{% endblock %}

{% block content %}
    <div class="container game-library">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ "Home"|trans() }}</h1>
            </div>
        </div>

        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('homepage_clicker') }}"><span class="fa fa-lock fa-5x locked"></span><img src="{{ asset('images/clicker_library.png') }}" alt="Clicker"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ path('homepage_strategy') }}"><span class="fa fa-lock fa-5x locked"></span><img src="" alt="Strategy"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ path('homepage_storytell') }}"><img src="" alt="StoryTell"></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="" alt="None"></a>
            </div>
        </div>
    </div>
{% endblock %}