{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{{ "Home"|trans }}{% endblock %}

{% block content %}
    <div class="container game-library">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ "Home"|trans() }}</h1>
            </div>
        </div>

        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('homepage_idle') }}"><span class="fa fa-lock fa-5x locked"></span><img src="{{ asset('images/idle_library.png') }}" alt="Idle"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ path('homepage_storytell') }}"><img src="{{ asset('images/story_library.png') }}" alt="StoryTell"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ path('homepage_strategy') }}"><span class="fa fa-lock fa-5x locked"></span><img src="{{ asset('images/space_library2.png') }}" alt="Strategy"></a> {# TODO : passer en png #}
            </div>
            <div class="col-md-3">
                <a href="{{ path('homepage_pickone') }}"><img src="{{ asset('images/pick_one_library.png') }}" alt="PickOne"></a>
            </div>
        </div>
    </div>
{% endblock %}