{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{{ "My friends"|trans }}{% endblock %}

{% block content %}
    <div class="container profile">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ "My friends"|trans({}, 'messages') }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {% include "AppBundle::profile_menu.html.twig" %}
            </div>
            <div class="col-md-9">
                <div class="border-menu">
                    {% if profile.getFriends |length == 0 %}
                        <p>{{ "No friends."|trans({}, 'messages') }}</p>
                    {% else %}
                        <ul>
                            {% for friend in profile.getFriends %}
                                <li>
                                    <a href="{{ path('detail_profile', {'user_id': friend.id}) }}">{{ friend.username }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}