{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{{ "News"|trans }}{% endblock %}

{% block content %}
    <div class="container game-library">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ "News"|trans() }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for news in all_news %}
                    <div class="border-menu">
                        <p style="float: right;">{{ news.createdAt|date('d/m/Y') }}</p>
                        <h3>{{ news.title }}</h3>
                        <p>{{ news.content|raw }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}