<div class="border-menu">
    <ul>
        <li><a href="{{ path('fos_user_profile_show') }}">{{ "Profile"|trans({}, "messages") }}</a></li>
        <li><a href="{{ path('my_achievements') }}">{{ "My achievements"|trans({}, "messages") }}</a></li>
        <li><a href="{{ path('my_friends') }}">{{ "My friends"|trans({}, "messages") }}</a></li>
    </ul>
</div>