<div class="border-menu">
    <ul>
        <li><a href="{{ path('homepage_admin') }}">{{ "Home"|trans }}</a></li>
        <li><a href="{{ path('list_news') }}">{{ "List News"|trans }}</a></li>
        <li><a href="{{ path('idle_generator') }}">{{ "Idle Generator"|trans }}</a></li>
    </ul>
</div>