{% extends "StoryTellBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Create Story"|trans }}{% endblock %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ "Create Story"|trans }}</h1>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        <div class="block-form">
            <div class="form-heading"><h2>{{ "Create Story"|trans }}</h2></div>

            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-style'} }) }}

            <div class="bg-danger">
                {{ form_errors(form) }}
            </div>

            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ "Genres"|trans }} :
            <ul class="form-list">
                {% for genre in form.genres %}
                    <li>
                        {{ form_errors(genre) }}
                        {{ form_widget(genre) }}
                        {{ form_label(genre) }}
                    </li>
                {% endfor %}
            </ul>
            {{ "Language"|trans }} : {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block input-button'}}) }}
            {{ form_end(form) }}
        </div>
        <a href="{{ path('my_stories') }}" class="btn btn-primary back-button">< {{ "Back"|trans }}</a>
    </div>
{% endblock %}