{% extends "StoryTellBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Edit Story"|trans }}{% endblock %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ "Edit Story"|trans }}</h1>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        <h2>{{ "Story"|trans }} : {{ story.title }}</h2>

        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="col-md-4 block-menu">
            <h4>{{ "Chapters"|trans }}</h4>
            <ul>
                {% for chapter in chapters %}
                    <li><a href="{{ path('edit_chapter', {'story_id': story.id, 'chapter_id': chapter.id}) }}">{{ chapter.title }}</a></li>
                {% endfor %}
                <li><a href="{{ path('create_chapter', {'story_id': story.id}) }}" class="btn btn-primary">+</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="block-form">
                <div class="form-heading"><h2>{{ "Edit Story"|trans }}</h2></div>

                {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-style'} }) }}

                <div class="bg-danger">
                    {{ form_errors(form) }}
                </div>

                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ "Genre"|trans }} : {{ form_widget(form.storyGenre, {'attr': {'class': 'form-control'}}) }}
                {{ "Language"|trans }} : {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block input-button'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
        <a href="{{ path('my_stories') }}" class="btn btn-primary">< {{ "Back"|trans }}</a>
    </div>
{% endblock %}