{% extends "StoryTellBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Edit Story"|trans }}{% endblock %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ "Edit Story"|trans }}</h1>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        <h2>{{ "Story"|trans }} : {{ story.title }}</h2>

        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="col-md-4 block-menu">
            <h4>{{ "Chapters"|trans }}</h4>
            <ul>
                {% for chapter in chapters %}
                    <li>
                        <a href="{{ path('edit_chapter', {'story_id': story.id, 'chapter_id': chapter.id}) }}">{{ "Chapter"|trans }} {{ chapter.chapter }} : {{ chapter.title }}</a>
                        {% if chapter.isPublished %}
                            <span class="fa fa-check" title="published"></span>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if story.isFinished == 0 %}
                    <li><a href="{{ path('create_chapter', {'story_id': story.id}) }}" class="btn btn-primary">+</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-8">
            <div class="block-form">
                <div class="form-heading"><h2>{{ "Edit Story"|trans }}</h2></div>

                {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-style'} }) }}

                <div class="bg-danger">
                    {{ form_errors(form) }}
                </div>

                <div class="bg-danger">
                    {{ form_errors(form.title) }}
                </div>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

                <div class="bg-danger">
                    {{ form_errors(form.description) }}
                </div>
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}

                {{ "Genres"|trans }} :
                <ul class="form-list">
                    {% for genre in form.genres %}
                        <li>
                            <div class="bg-danger">
                                {{ form_errors(genre) }}
                            </div>
                            {{ form_widget(genre) }}
                            {{ form_label(genre) }}
                        </li>
                    {% endfor %}
                </ul>
                {{ "Language"|trans }} : {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}

                <div class="bg-danger">
                    {{ form_errors(form.isPublished) }}
                </div>
                {{ form_widget(form.isPublished) }}
                {{ form_label(form.isPublished) }}
                <p class="info">{{ "As long as you don't publish the Story, nobody will be able to read it."|trans }}</p>

                <div class="bg-danger">
                    {{ form_errors(form.isFinished) }}
                </div>
                {{ form_widget(form.isFinished) }}
                {{ form_label(form.isFinished) }}
                <p class="info">
                    {{ "If you finish a Story, you won't be able to create new chapters on this Story."|trans }}<br>
                    {{ "Finished Stories have a better visibility."|trans }}
                </p>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block input-button'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
        <a href="{{ path('my_stories') }}" class="btn btn-primary back-button">< {{ "Back"|trans }}</a>
    </div>
{% endblock %}