{% extends "StoryTellBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "My Readings"|trans }}{% endblock %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ "My Readings"|trans }}</h1>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="table-responsive">
            <table id="readings-table" class="table">
                <tbody>
                {% for reading in readings %}
                    <tr data-id="{{ reading.story.id }}">
                        <td>
                            <a href="{{ path('read_story', {'story_id': reading.story.id}) }}">{{ reading.story.title }}</a>
                        </td>
                        <td style="text-align: center">
                            <span class="lang-sm" lang="{{ reading.story.language.code }}" title="{{ reading.story.language.name }}"></span>
                        </td>
                        <td>
                            {% if reading.isFinished == 1 and reading.story.isFinished == 1 %}
                                <span class="badge lock" title="{{ "Finished"|trans }}">{{ "Finished"|trans }}</span>
                            {% elseif reading.isFinished == 1 and reading.story.isFinished == 0 %}
                                <span class="badge lock" title="{{ "All read"|trans }}">{{ "All read"|trans }}</span>
                            {% else %}
                                <span class="badge info" title="{{ "Reading"|trans }}">{{ "Reading"|trans }}</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            <a href="{{ path('detail_profile', {'user_id': reading.story.author.id}) }}">{{ reading.story.author.username }}</a>
                        </td>
                        <td style="text-align: center">
                            <span class="btn fa fa-minus-circle remove-readings" title="{{ "Remove from my readings"|trans }}"></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.remove-readings').click(function (e) {
            var url = '{{ path("remove_readings", {'story_id': 'STORY_ID'}) }}';
            url = url.replace("STORY_ID", $(e.target).closest('div').data('id'));
//        console.log(url);
            var jhrx = $.ajax(url)
                .done(function (data) {
                    var obj = data;
                    if (obj.success) {
                        $(e.target).closest('div').remove();
                        console.log("Success : " + obj.message);
                    }
                    else if (obj.error) {
                        console.log("Error : " + obj.message);
                    }
                })
        });
    </script>
{% endblock %}