{% extends "StoryTellBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "My Readings"|trans }}{% endblock %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ "My Readings"|trans }}</h1>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        {{ include('AppBundle::flash_messages.html.twig') }}

        {% for reading in readings %}
            <div id="{{ reading.id }}">
                <a href="{{ path('read_story', {'story_id': reading.id}) }}">{{ reading.title }}</a>
                <span class="lang-xs" lang="{{ reading.language.code }}" title="{{ reading.language.name }}"></span>
                <span class="btn fa fa-minus-circle remove-readings" title="{{ "Remove from my readings"|trans }}"></span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.remove-readings').click(function (e) {
            var url = '{{ path("remove_readings", {'story_id': 'STORY_ID'}) }}';
            url = url.replace("STORY_ID", $(e.target).closest('div').prop('id'));
//        console.log(url);
            var jhrx = $.ajax(url)
                .done(function (data) {
                    var obj = data;
                    if (obj.success) {
                        $(e.target).closest('div').remove();
                        console.log("Success : " + obj.message);
                    }
                    else if (obj.error) {
                        console.log("Error : " + obj.message);
                    }
                })
        });
    </script>
{% endblock %}