{% extends "StoryTellBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Stories"|trans }}{% endblock %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ "Stories"|trans }}</h1>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        {{ include('AppBundle::flash_messages.html.twig') }}

        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <span class="navbar-brand">{{ "Genres"|trans }}</span>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('stories') %}class="active"{% endif %}>
                        <a href="{{ path('stories') }}">{{ "All"|trans }}</a>
                    </li>
                    {% for genre in genres %}
                        <li {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('stories_genre', {'genre_name': genre.name}) %}class="active"{% endif %}>
                            <a href="{{ path('stories_genre', {'genre_name': genre.name}) }}">{{ genre.name|trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <h3>{{ "List"|trans }}</h3>
        {% for story in story_tab %}
            <div id="{{ story['story'].id }}">
                <a href="{{ path('detail_story', {'story_id': story['story'].id}) }}">{{ story['story'].title }}</a> <span class="lang-xs" lang="{{ story['story'].language.code }}" title="{{ story['story'].language.name }}"></span>
                (
                {% for genre in story['genres'] %}
                    {% if loop.index0 > 0 %}, {% endif %}
                    <a href="{{ path('stories_genre', {'genre_name': genre.name}) }}">{{ genre.name|trans }}</a>
                {% endfor %}
                )
                - <a href="{{ path('detail_profile', {'user_id': story['story'].author.id}) }}">{{ story['story'].author.username }}</a>
                <span class="btn fa fa-plus-circle add-readings" title="{{ "Add to my readings"|trans }}"></span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $('.add-readings').click(function (e) {
        var url = '{{ path("add_readings", {'story_id': 'STORY_ID'}) }}';
        url = url.replace("STORY_ID", $(e.target).closest('tr').prop('id'));
//        console.log(url);
        var jhrx = $.ajax(url)
            .done(function (data) {
                var obj = data;
                if (obj.success) {
                    console.log("Success : " + obj.message);
                }
                else if (obj.error) {
                    console.log("Error : " + obj.message);
                }
            })
    });
</script>
{% endblock %}