{% extends "ClickerBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}Homepage{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-md-12">
            <h1>Clicker HomePage</h1>
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-md-6 out-hero-menu">
            <div class="col-md-12 hero-menu">
                {% for key, hero in heroes %}
                    <div id="hero{{ key }}" class="row details-hero {% if hero.isSelected == true %}selected{% endif %}">
                        <div class="col-md-4 character" data-value="{{ hero.id }}">
                            <span title="{{ hero.name }}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Level: {{ hero.level }}<br />
                                    Experience: {{ hero.experience }}<br />
                                    State: {% if hero.isRested %}OK{% else %}KO{% endif %}">
                                <img src="" alt="hero" class="hero">
                            </span>
                        </div>
                        <div class="col-md-8">
                            <div class="row top">
                                <div class="col-md-3">
                                    <p>
                                        {{ hero.name }}
                                        {# TODO : Barre d'hp #}
                                        {# TODO : Icone etat #}
                                        {% if hero.isRested %}OK{% else %}KO{% endif %}
                                        {#Level: {{ hero.level }}#}
                                        {#Experience: {{ hero.experience }}#}
                                        {#State: {% if hero.isRested %}OK{% else %}KO{% endif %}#}
                                    </p>
                                </div>
                                <div class="col-md-9 progress progress-hp" title="HP : {{ hero.currentHealth }}/{{ hero.characteristics.health }}">
                                    <div class="progress-bar-hp" role="progressbar" data-value="{{ hero.currentHealth }}" style="width: {{ (hero.currentHealth / hero.characteristics.health) * 100 }}%"></div>
                                </div>
                            </div>
                            <div class="row one">
                                <span title="{% if stuff[key]['weapon'] is not null %}{{ stuff[key]['weapon'].name }}{% endif %}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Damages: {% if stuff[key]['weapon'] is not null %}{{ stuff[key]['weapon'].characteristics.damageMinimum }} - {{ stuff[key]['weapon'].characteristics.damageMaximum }}{% else %}{{ hero.characteristics.damageMinimum }} - {{ hero.characteristics.damageMaximum }}{% endif %}<br />
                                    Hit: {% if stuff[key]['weapon'] is not null %}{{ stuff[key]['weapon'].characteristics.hitPrecision }}{% else %}{{ hero.characteristics.hitPrecision }}{% endif %}<br />
                                    Delay: {% if stuff[key]['weapon'] is not null %}{{ stuff[key]['weapon'].characteristics.attackDelay }}{% else %}{{ hero.characteristics.attackDelay }}{% endif %}<br />">
                                    <img src="" alt="weapon" class="equipement">
                                </span>
                                <span title="{% if stuff[key]['offhand'] is not null %}{{ stuff[key]['offhand'].name }}{% endif %}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Health: {% if stuff[key]['offhand'] is not null %}{{ stuff[key]['offhand'].characteristics.health }}{% endif %}<br />
                                    Armor: {% if stuff[key]['offhand'] is not null %}{{ stuff[key]['offhand'].characteristics.armor }}{% endif %}<br />
                                    Dodge: {% if stuff[key]['offhand'] is not null %}{{ stuff[key]['offhand'].characteristics.dodge }}{% endif %}<br />
                                    Speed: {% if stuff[key]['offhand'] is not null %}{{ stuff[key]['offhand'].characteristics.speed }}{% endif %}<br />">
                                    <img src="" alt="offhand" class="equipement">
                                </span>
                                <span title="{% if stuff[key]['artifact'] is not null %}{{ stuff[key]['artifact'].name }}{% endif %}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Health: {% if stuff[key]['artifact'] is not null %}{{ stuff[key]['artifact'].characteristics.health }}{% endif %}<br />
                                    Armor: {% if stuff[key]['artifact'] is not null %}{{ stuff[key]['artifact'].characteristics.armor }}{% endif %}<br />
                                    Dodge: {% if stuff[key]['artifact'] is not null %}{{ stuff[key]['artifact'].characteristics.dodge }}{% endif %}<br />
                                    Speed: {% if stuff[key]['artifact'] is not null %}{{ stuff[key]['artifact'].characteristics.speed }}{% endif %}<br />">
                                    <img src="" alt="artifact" class="equipement">
                                </span>
                            </div>
                            <div class="row two">
                                <span title="{% if stuff[key]['armor'] is not null %}{{ stuff[key]['armor'].name }}{% endif %}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Health: {% if stuff[key]['armor'] is not null %}{{ stuff[key]['armor'].characteristics.health }}{% endif %}<br />
                                    Armor: {% if stuff[key]['armor'] is not null %}{{ stuff[key]['armor'].characteristics.armor }}{% endif %}<br />
                                    Dodge: {% if stuff[key]['armor'] is not null %}{{ stuff[key]['armor'].characteristics.dodge }}{% endif %}<br />
                                    Speed: {% if stuff[key]['armor'] is not null %}{{ stuff[key]['armor'].characteristics.speed }}{% endif %}<br />">
                                    <img src="" alt="armor" class="equipement">
                                </span>
                                <span title="{% if stuff[key]['helmet'] is not null %}{{ stuff[key]['helmet'].name }}{% endif %}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Health: {% if stuff[key]['helmet'] is not null %}{{ stuff[key]['helmet'].characteristics.health }}{% endif %}<br />
                                    Armor: {% if stuff[key]['helmet'] is not null %}{{ stuff[key]['helmet'].characteristics.armor }}{% endif %}<br />
                                    Dodge: {% if stuff[key]['helmet'] is not null %}{{ stuff[key]['helmet'].characteristics.dodge }}{% endif %}<br />
                                    Speed: {% if stuff[key]['helmet'] is not null %}{{ stuff[key]['helmet'].characteristics.speed }}{% endif %}<br />">
                                    <img src="" alt="helmet" class="equipement">
                                </span>
                                <span title="{% if stuff[key]['gloves'] is not null %}{{ stuff[key]['gloves'].name }}{% endif %}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Health: {% if stuff[key]['gloves'] is not null %}{{ stuff[key]['gloves'].characteristics.health }}{% endif %}<br />
                                    Armor: {% if stuff[key]['gloves'] is not null %}{{ stuff[key]['gloves'].characteristics.armor }}{% endif %}<br />
                                    Dodge: {% if stuff[key]['gloves'] is not null %}{{ stuff[key]['gloves'].characteristics.dodge }}{% endif %}<br />
                                    Speed: {% if stuff[key]['gloves'] is not null %}{{ stuff[key]['gloves'].characteristics.speed }}{% endif %}<br />">
                                    <img src="" alt="gloves" class="equipement">
                                </span>
                                <span title="{% if stuff[key]['jewel'] is not null %}{{ stuff[key]['jewel'].name }}{% endif %}" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="
                                    Health: {% if stuff[key]['jewel'] is not null %}{{ stuff[key]['jewel'].characteristics.health }}{% endif %}<br />
                                    Armor: {% if stuff[key]['jewel'] is not null %}{{ stuff[key]['jewel'].characteristics.armor }}{% endif %}<br />
                                    Dodge: {% if stuff[key]['jewel'] is not null %}{{ stuff[key]['jewel'].characteristics.dodge }}{% endif %}<br />
                                    Speed: {% if stuff[key]['jewel'] is not null %}{{ stuff[key]['jewel'].characteristics.speed }}{% endif %}<br />">
                                    <img src="" alt="jewel" class="equipement">
                                </span>
                            </div>
                            <div class="row bottom">
                                <div class="col-md-3">
                                    <p class="level">Level: {{ hero.level }}</p>
                                        {# TODO : Barre d'xp #}
                                        {#HP: {{ hero.characteristics.health }}#}
                                        {#Armor:  {{ hero.characteristics.armor }}#}
                                        {#Dodge: {{ hero.characteristics.dodge }}#}
                                        {#Speed: {{ hero.characteristics.speed }}#}
                                        {#Attack: {{ hero.characteristics.damageMinimum }}-{{ hero.characteristics.damageMaximum }}#}
                                        {#Delay: {{ hero.characteristics.attackDelay }}#}
                                        {#Precision: {{ hero.characteristics.hitPrecision }}#}
                                </div>
                                <div class="col-md-9 progress progress-exp" title="Exp. : {{ hero.experience }}/{{ next_level[key] }}">
                                    <div class="progress-bar-exp" role="progressbar" data-value="{{ hero.experience }}" style="width: {{ (hero.experience / next_level[key]) * 100 }}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if form is defined %}
                    <div data-toggle="modal" data-target="#myModal"><img src="{{ asset('images/plus.png') }}"></div>
                {% endif %}
            </div>
        </div>


        <div class="col-md-6 out-mob-menu">
            <div class="col-md-12 mob-menu">
                {% for key, hero in heroes%}
                    <div id="mob{{ key }}" class="row details-mob">
                        <div class="col-md-4 character">
                            <img src="" alt="monster" class="monster">
                            <h2 class="damage"></h2>
                        </div>
                        <div class="col-md-8">
                            <div class="row top">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p>Field {{ selected_hero.fieldLevel }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Field Max {{ selected_hero.fieldMaxLevel }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p>Monster</p>
                                </div>
                                <div class="col-md-9 progress progress-hp" title="HP : 100/100">
                                    <div class="progress-bar-hp" role="progressbar" data-value="100" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="row bottom">
                                <div class="col-md-3">
                                    Health: 100
                                </div>
                                <div class="col-md-3">
                                    Armor: 5
                                </div>
                                <div class="col-md-3">
                                    Dodge: 0
                                </div>
                                <div class="col-md-3">
                                    Delay: 1
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if form is defined %}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create new Hero</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}

                        <div class="bg-danger">
                            {{ form_errors(form) }}
                        </div>

                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        {#<button type="button" class="btn btn-primary">Save changes</button>#}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            html:true
        });
    });

    {#function animateBattle(id) {#}
        {#var hp{{ key }} = $('#mob{{ key }} .progress-bar-hp').data('value');#}

        {#{% if stuff[key]['weapon'].characteristics is defined %}#}
        {#{% set weapon = stuff[key]['weapon'].characteristics %}#}
        {#{% else %}#}
        {#{% set weapon = hero.characteristics %}#}
        {#{% endif %}#}

        {#var delay = {{ weapon.attackDelay }};#}
        {#var hit = window.setInterval(function () {#}
            {#if (hp{{ key }} > 0) { // Hit the mob#}
                {#var damage = Math.floor(Math.random() * ({{ weapon.damageMaximum }} - {{ weapon.damageMinimum }} +1)) + {{ weapon.damageMinimum }};#}
                {#hp{{ key }} -= damage;#}
                {#if (hp{{ key }} < 0)#}
                    {#hp{{ key }} = 0;#}
                {#$('#mob{{ key }} .progress-bar-hp').animate({width: ((hp{{ key }} / 100) * 100) + '%'}, 200);#}
                {#$('#mob{{ key }} .progress-hp').attr('title', "HP : " + hp{{ key }} + "/100");#}
                {#$('#mob{{ key }} .damage').html(damage);#}
                {#$('#mob{{ key }} .damage').removeAttr('style');#}
                {#$('#mob{{ key }} .damage').animate({opacity: 0, top: "-=90px"}, 500);#}


                {#if (hp{{ key }} <= 0) { // New mob : Full life#}
                    {#earnExp('{{ key }}', 1);#}
                    {#clearInterval(hit);#}
                    {#window.setTimeout(function () {#}
                        {#hp{{ key }} = 100;#}
                        {#$('#mob{{ key }} .progress-bar-hp').animate({width: '100%'}, 200);#}
                        {#animateBattle(id);#}
                    {#}, 1000);#}
                {#}#}
            {#}#}
        {#}, delay * 1000);#}
    {#}#}

    {% for key, hero in heroes %}
        {#animateBattle({{ key }});#}
    var hp{{ key }} = $('#mob{{ key }} .progress-bar-hp').data('value');

    {% if stuff[key]['weapon'].characteristics is defined %}
    {% set weapon = stuff[key]['weapon'].characteristics %}
    {% else %}
    {% set weapon = hero.characteristics %}
    {% endif %}

    var delay = {{ weapon.attackDelay }};
    var hit = window.setInterval(function () {
        if (hp{{ key }} > 0) { // Hit the mob
            var damage = Math.floor(Math.random() * ({{ weapon.damageMaximum }} - {{ weapon.damageMinimum }} +1)) + {{ weapon.damageMinimum }};
            hp{{ key }} -= damage;
            if (hp{{ key }} < 0)
                hp{{ key }} = 0;
            $('#mob{{ key }} .progress-bar-hp').animate({width: ((hp{{ key }} / 100) * 100) + '%'}, 200);
            $('#mob{{ key }} .progress-hp').attr('title', "HP : " + hp{{ key }} + "/100");
            $('#mob{{ key }} .damage').html("-" + damage);
            $('#mob{{ key }} .damage').removeAttr('style');
            $('#mob{{ key }} .damage').animate({opacity: 0, top: "-=90px"}, 1000);


            if (hp{{ key }} <= 0) { // New mob : Full life
                earnExp('{{ key }}', 1);
//                clearInterval(hit);
                window.setTimeout(function () {
                    hp{{ key }} = 100;
                    $('#mob{{ key }} .progress-bar-hp').animate({width: '100%'}, 200);
//                    animateBattle(id);
                }, 1000);
            }
        }
    }, delay * 1000);
    {% endfor %}

    function earnExp(id, xp) {
        var url = '{{ path("exp_hero", {'hero_id': 'HERO_ID'}) }}';
        url = url.replace("HERO_ID", $('#hero' + id).children('.character').data('value'));
//        console.log(url);
        var jhrx = $.ajax({
                method: "POST",
                url: url,
                data: { exp: xp }
            })
            .done(function (data) {
                var obj = data;
                if (obj.success) {
                    $('#hero' + id + ' .progress-exp .progress-bar-exp').animate({ width: ((obj.experience / obj.next_level) * 100) + '%' }, 200);
                    $('#hero' + id + ' .progress-exp').attr('title', "Exp. : " + obj.experience + "/" + obj.next_level);
                    $('#hero' + id + ' .level').html("Level: " + obj.level)
                }
            })
    }


    $('.character').click(function (e) {
        var url = '{{ path("switch_hero", {'hero_id': 'HERO_ID'}) }}';
        url = url.replace("HERO_ID", $(e.target).closest('.character').data('value'));
//        console.log(url);
        var jhrx = $.ajax(url)
            .done(function (data) {
                var obj = data;
                if (obj.success) {
                    {% for key, hero in heroes %}
                    if ($('#hero{{ key }}').hasClass('selected'))
                        $('#hero{{ key }}').removeClass('selected');
                    if ($('#hero{{ key }}').children('.character').data('value') == obj.selected_hero_id)
                        $('#hero{{ key }}').addClass('selected');
                    {% endfor %}
                }
            })
    });

//    var click_up = 1;
//
//    function changePoints(nb) {
//        var points = getPoints();
//        points += nb;
//        $("#points").html(points);
//    }
//
//    function getPoints() {
//        return Number($("#points").html());
//    }
//
//    $("#click").click(function () {
//        changePoints(click_up);
//    });
//
//    $("#up").click(function () {
//        if (getPoints() >= 10) {
//            changePoints(-10);
//            click_up++;
//        }
//    });
//
//    $("#auto-up").click(function () {
//        if (getPoints() >= 5) {
//            console.log('got up !');
//            changePoints(-5);
//            window.setInterval(function () {
//                changePoints(1);
//            }, 3000);
//        }
//        else {
//            console.log('no...')
//        }
//    });
</script>
{% endblock %}