{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }}{{ "Sign in"|trans }}{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="block-form">
                    <h2 class="form-heading">Please sign in</h2>

                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-style">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" class="form-control" required autofocus />

                        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required />

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       id="remember_me"
                                       name="_remember_me"
                                       value="on" /> {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>

                        <input type="submit"
                               class="btn btn-lg btn-primary btn-block input-button"
                               id="_submit"
                               name="_submit"
                               value="{{ 'security.login.submit'|trans }}" />
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock fos_user_content %}