{% extends "AdminBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Create News"|trans }}{% endblock %}

{% block page %}
    <div class="col-md-12">

        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="block-form border-menu">
            <div class="form-heading"><h2>{{ "Create News"|trans }}</h2></div>

            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-style'} }) }}

            <div class="bg-danger">
                {{ form_errors(form) }}
            </div>

            {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.title} %}

            {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.content} %}

            <div class="bg-danger">
                {{ form_errors(form.isPublished) }}
            </div>
            {{ form_widget(form.isPublished) }}
            {{ form_label(form.isPublished) }}

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block input-button'}}) }}
            {{ form_end(form) }}
        </div>
        <a href="{{ path('list_news') }}" class="btn btn-primary back-button">< {{ "Back"|trans }}</a>
    </div>
{% endblock %}