{% extends "AdminBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Create Stuff"|trans }}{% endblock %}

{% block page %}
    <div class="col-md-12">

        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="block-form border-menu">
            <div class="form-heading"><h2>{{ "Create Stuff"|trans }}</h2></div>

            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-style'} }) }}

            <div class="bg-danger">
                {{ form_errors(form) }}
            </div>

            {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.item.name} %}

            {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.type} %}

            {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.item.image} %}

            <div class="bg-danger">
                {{ form_errors(form.characteristics) }}
            </div>
            <h3>Characteristics</h3>
            {% for charac in form.characteristics %}
                {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': charac} %}
            {% endfor %}

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block input-button'}}) }}
            {{ form_end(form) }}
        </div>
        <a href="{{ path('idle_generator') }}" class="btn btn-primary back-button">< {{ "Back"|trans }}</a>
    </div>
{% endblock %}