{% extends "AdminBundle:Default:index.html.twig" %}

{% block title %}{{ parent() }}{{ "Edit Resource"|trans }}{% endblock %}

{% block page %}
    <div class="col-md-12">

        {{ include('AppBundle::flash_messages.html.twig') }}

        <div class="block-form border-menu">
            <div class="form-heading"><h2>{{ "Edit Resource"|trans }}</h2></div>

            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-style'} }) }}

            <div class="bg-danger">
                {{ form_errors(form) }}
            </div>

            <div class="bg-danger">
                {{ form_errors(form.item.name) }}
            </div>
            {{ form_widget(form.item.name, {'attr': {'class': 'form-control'}}) }}

            {% if form.item.image.vars.data.filename is defined %}
                <img src="{{ asset('images/Idle/Resources/' ~ form.item.image.vars.data.filename) }}" alt="No Image">
            {% endif %}
            <div class="bg-danger">
                {{ form_errors(form.item.image) }}
            </div>
            {{ form_widget(form.item.image, {'attr': {'class': 'form-control'}}) }}

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block input-button'}}) }}
            {{ form_end(form) }}

            <a href="{{ path('make_recipe_item', {'item_id': form.item.vars.value.id}) }}" class="btn btn-success back-button"><span class="fa fa-book"></span> {{ "Make a Recipe for this item"|trans }}</a>
        </div>
        <a href="{{ path('idle_generator') }}" class="btn btn-primary back-button">< {{ "Back"|trans }}</a>
    </div>
{% endblock %}