{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="block-form border-menu">
                <h2 class="form-heading">{{ 'resetting.request.submit'|trans }}</h2>

                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-style">

                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}

                        <label for="username" class="sr-only">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" placeholder="{{ 'resetting.request.username'|trans }}" class="form-control" required="required"/>

                    <div>
                        <input type="submit"
                               class="btn btn-lg btn-primary btn-block input-button"
                               id="_submit"
                               name="_submit"
                               value="{{ 'resetting.request.submit'|trans }}"/>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>